:root {
  /* Culori primare */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradienți */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Culori neutre */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* Font */
  --font-family: 'Hanken Grotesk', sans-serif;

  /* Culori categorii */
  --reaction-color: hsl(0, 100%, 67%);
  --memory-color: hsl(39, 100%, 56%);
  --verbal-color: hsl(166, 100%, 37%);
  --visual-color: hsl(234, 85%, 45%);
}

body {
  font-family: var(--font-family);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--pale-blue);
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 50px auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden;
}

.result {
  width: 40%;
  border-radius: 20px 0 0 20px;
  padding: 50px;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  color: var(--white);
  text-align: center;
}

.title {
  font-weight: 700;
  color: var(--dark-gray-blue);
  margin-bottom: 20px;
}

.result .title {
  color: var(--white);
}

.circle {
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  font-size: 72px;
  font-weight: 800;
  color: var(--white);
}

.total {
  font-weight: 500;
  color: var(--light-lavender);
}

.assessment-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

.assessment-text {
  font-weight: 500;
}

.summary {
  width: 60%;
  border-radius: 0 20px 20px 0;
  padding: 50px;
  text-align: left;
}

.summary .title {
  color: var(--dark-gray-blue);
}

.summary-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary-item {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 15px;
  margin-bottom: 20px;
}

.summary-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.summary-item span:last-child {
  margin-left: auto;
}

.summary-item.reaction {
  background-color: hsl(0, 100%, 95%);
  color: var(--reaction-color);
}

.summary-item.memory {
  background-color: hsl(39, 100%, 94%);
  color: var(--memory-color);
}

.summary-item.verbal {
  background-color: hsl(166, 100%, 96%);
  color: var(--verbal-color);
}

.summary-item.visual {
  background-color: hsl(234, 85%, 95%);
  color: var(--visual-color);
}

.continue-button {
  background-color: var(--dark-gray-blue);
  color: var(--white);
  padding: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  width: 100%;
}

.continue-button:hover {
  background-color: hsl(220, 80%, 60%); /* Albastru deschis */
  transition: background-color 0.3s ease-in-out;
}

.hidden {
  display: none !important;
}



@media (max-width: 768px) {

  .container {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
  }

  .result {
    width: 100%;
    padding: 0px;
    border-radius: 20px;
  }

  .container {
    background-color: var(--white);
  }
  

  .circle {
    width: 120px;
    height: 120px;
    margin: 20px auto;
  }

  .score {
    font-size: 56px;
  }

  .summary {
    justify-content: center;
    width: 90%;
    padding: 5%;
    border-radius: 0;
  }

  .summary-item {
    justify-content: center;
    display: flex;
    padding: 15px;
    font-size: 18px;
    width: 95%; 
  }

  .summary-item.reaction {
    background-color: hsl(0, 100%, 95%);
    color: var(--reaction-color);
    align-items: center;
  }

  .continue-button {
    justify-content: center;
    padding: 15px;
    font-size: 18px;
    padding: 15px;
  }
}
